:root {
    --main-color: #9333ea;
    --secondary-color: #e2e8f0;
    --text-color: white;
    --card-color: #a855f7;
    --card-text-color: #475569;

    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.container {
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    height: 100vh;
    width: 100vw;
}
/* Sidebar */
.sidebar {
    background-color: var(--main-color);
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    padding-left: 10px;
    padding-top: 20px;
}

.dashboard {
    font-size: 40px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu {
    display: grid;
    padding-left: 30px;
}

.dashboard-icon {
    width: 4rem;
    filter: invert(99%) sepia(82%) saturate(0%) hue-rotate(250deg)
        brightness(110%) contrast(100%);
}

.side-icon {
    width: 2rem;
    filter: invert(99%) sepia(82%) saturate(0%) hue-rotate(250deg)
        brightness(110%) contrast(100%);
}

.side-icon-inverted {
    width: 2rem;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%)
        contrast(104%);
}

.side-item {
    display: flex;
    align-items: end;
    gap: 20px;
}

.icons {
    padding-top: 10px;
    align-self: flex-end;
    display: flex;
    gap: 15px;
    cursor: pointer;
}
/* Header */

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 40px;
    padding-right: 40px;
    z-index: 1;
    box-shadow: 2px -1px 6px black;
}

.user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-bottom: 25px;
}

.user-info {
    display: flex;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}

.user-hello {
    font-weight: bold;
    display: grid;
    align-items: center;
    align-content: center;
}

.username {
    font-weight: bold;
    font-size: 30px;
}

.pfp {
    width: 75px;
    height: 75px;
    border-radius: 50px;
}

.user-buttons {
    display: flex;
    gap: 25px;
    justify-content: end;
}

.user-button {
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 10px 40px;
    border-radius: 25px;
}

.misc {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

input[type="search"] {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    height: 40px;
}
input[type="search"]:focus {
    outline: none;
    border: 1px solid var(--main-color);
}

.user-info-2 {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: end;
}

.pfp-2 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.username-2 {
    font-weight: bold;
    font-size: 20px;
}

/* Main Content */

.main-content {
    background-color: var(--secondary-color);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 2fr 2fr / 3fr 1fr;
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

.projects {
    grid-row: 1 /3;
    display: flex;
    flex-direction: column;
}

.announcements {
    grid-row: 1 /2;
    display: flex;
    flex-direction: column;
}

.trending {
    grid-row: 2/ 3;
    display: flex;
    flex-direction: column;
}

.section-header {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px 20px;
}

.project-card {
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    height: 200px;
    border-left: 7px solid var(--card-color);
    padding: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.315);
    display: flex;
    flex-direction: column;
}

.project-card-title {
    font-weight: 600;
    font-size: 18px;
}

.project-card-desc {
    color: var(--card-text-color);
}

.announcement-card {
    background-color: white;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    color: var(--card-text-color);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.315);
}

.announcement-card-title {
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.announcement-card-desc {
    font-size: 13px;
}

.trending-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.315);
}

.trending-user-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.trending-user-desc {
    color: var(--card-text-color);
}
